#Items .category {
  max-width: 1088px;
  margin: 114px auto 0px auto;
  display: flex;
  gap: 34px;
  font-size: 20px;
}

#Items .categoryText {
  cursor: pointer;
}

#Items .categoryGroup {
  display: flex;
  gap: 20px;
  color: #d3d3d3;
  cursor: pointer;
}

#Items .categoryGroup > p {
  transition-duration: 0.4s;
}

#Items .categoryGroup > p:hover {
  color: black;
}

#Items .categoryTextSelect {
  color: black !important;
}

#Items .sortBox {
  max-width: 1060px;
  margin: 210px auto 0px auto;
  display: flex;
  gap: 12px;
  color: #d3d3d3;
  font-size: 14px;
}

#Items .sortBoxText {
  cursor: pointer;
  transition-duration: 0.4s;
}

#Items .sortBoxText:hover {
  color: black;
}

#Items .sortBoxTextSelect {
  cursor: pointer;
  color: black;
}

#Items .itemContainer {
  max-width: 1060px;
  margin: 31px auto 0px auto;
  column-gap: 22px;
  row-gap: 100px;

  display: flex;
  flex-wrap: wrap;
}
